<md-content flex layout-padding>
    <div layout="row" layout-wrap>
        <div flex="30" hide-sm hide-md></div>
        <div flex="auto">
            <form method="post" ng-submit="signup.signup()" name="signupForm" novalidate>
                <md-input-container>
                    <label for="displayName">Name</label>
                    <input type="text" id="displayName" name="displayName" ng-model="signup.user.displayName" required>

                    <div ng-if="signupForm.displayName.$dirty" ng-messages="signupForm.displayName.$error">
                        <div ng-message="required">You must enter your name.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label for="email">Email</label>
                        <input type="email" id="email" name="email" ng-model="signup.user.email" required>

                        <div ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
                            <div ng-message="required">Your email address is required.</div>
                            <div ng-message="pattern">Your email address is invalid.</div>
                        </div>
                </md-input-container>
                <md-input-container>
                    <label for="password">Password</label>
                        <input password-strength type="password" id="password" name="password" ng-model="signup.user.password" required>

                        <div ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
                            <div ng-message="required">Password is required.</div>
                        </div>
                </md-input-container>
                <md-input-container>
                        <input password-match="signup.user.password" type="password" name="confirmPassword" ng-model="signup.confirmPassword">

                        <div ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
                            <div ng-message="compareTo">Password must match.</div>
                        </div>
                </md-input-container>
                <p class="text-center text-muted">
                    <small>By clicking on Sign up, you agree to <a href="#">terms & conditions</a> and
                        <a href="#">privacy policy</a></small>
                </p>
                <div layout="row" layout-align="end center">
                    <md-button type="submit" ng-click="" ng-disabled="signupForm.$invalid" class="md-raised md-primary md-hue-3">
                        Sign-up
                    </md-button>
                </div>
                <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary">
                    Sign up
                </button>
                <br/>

                <p class="text-center text-muted">Already have an account? <a href="/#/login">Log in</a></p>
            </form>
        </div>
        <div flex="25" hide-sm hide-md></div>
    </div>
</md-content>


<!--
<form>
                <p class="" ng-if="auth.loginError"><strong>Error:</strong> {{auth.loginErrorText}}</p>
                <md-input-container>
                    <label for="email">Email</label>
                    <input type="email" id="email" ng-model="signin.email" md-autofocus>
                </md-input-container>
                <md-input-container>
                    <label for="password">Password</label>
                    <input type="password" id="password" ng-model="signin.password">
                </md-input-container>
                <div layout="row" layout-align="end center">
                    <md-button ng-click="signin.login()" class="md-raised md-primary md-hue-3">
                        Sign-in
                    </md-button>
                </div>
            </form>
-->