<md-content flex layout-padding>
    <div layout="row">
        <div flex="30" hide-sm hide-md></div>
        <div flex="auto">
            <form method="post" ng-submit="login.login()" name="loginForm">
                <md-input-container>
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" ng-model="login.user.email" required>
                </md-input-container>
                <md-input-container>
                    <label for="password">password</label>
                    <input type="password" id="password" name="password" ng-model="login.user.password" required>
                </md-input-container>
                <div layout="row" layout-align="end center">
                    <md-button ng-disabled="loginForm.$invalid" class="md-raised md-primary md-hue-3">
                        Sign-in
                    </md-button>
                </div>
                <p class="u-center">
                    <small>Don't have an account? <a ui-sref="jwtauth.signup">Sign up</a></small>
                </p>
                <h6 class="u-center">or</h6>
            </form>
            <md-divider></md-divider>
            <md-button class="md-icon-button" aria-label="Sign in with Facebook" ng-click="authenticate('facebook')">
                <ng-md-icon icon="facebook" style="fill: black" size="24"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Sign in with Google" ng-click="authenticate('google')">
                <ng-md-icon icon="google-plus" style="fill: black" size="24"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Sign in with LinkedIn" ng-click="authenticate('linkedin')">
                <ng-md-icon icon="linkedin" style="fill: black" size="24"></ng-md-icon>
            </md-button>
            <md-button aria-label="Sign in with Instagram" ng-click="authenticate('instagram')">
                Instagram
            </md-button>
            <md-button class="md-icon-button" aria-label="Sign in with Twitter" ng-click="authenticate('twitter')">
                <ng-md-icon icon="twitter" style="fill: black" size="24"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Sign in with Foursquare" ng-click="authenticate('foursquare')">
                <i class="fa fa-foursquare fa-lg"></i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Sign in with GitHub" ng-click="authenticate('github')">
                <ng-md-icon icon="github-circle" style="fill: black" size="24"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Sign in with Bitbucket" ng-click="authenticate('bitbucket')">
                <i class="fa fa-bitbucket fa-lg"></i>
            </md-button>
            <md-button aria-label="Sign in with Yahoo" ng-click="authenticate('yahoo')">
                Yahoo
            </md-button>
            <md-button class="md-icon-button" aria-label="Sign in with Windows Live" ng-click="authenticate('live')">
                <ng-md-icon icon="windows" style="fill: black" size="24"></ng-md-icon>
            </md-button>
            <md-button aria-label="Sign in with Twitch" ng-click="authenticate('twitch')">
                Twitch
            </md-button>
        </div>
        <div flex="25" hide-sm hide-md></div>
    </div>
</md-content>
